<div class="cl-feedback alert" ng-class="newMsg.class" ng-show="showMsg">
  {{newMsg.msg}}
</div>
<!-- <div class="cl-feedback-list cl-feedback-scroll" ng-show="showList">
  <div ng-repeat="msg in msglist track by $index" class="alert" ng-class="msg.class">
    {{msg.msg}}
  </div>
  <div ng-if="msglist.length===0">
    There is no past feedback to show!
  </div>
</div>
<div class="cl-blur" ng-show="showList" ng-click="hideList()"></div>
<button class="cl-feedback-btn" ng-class="feedback.btnClass" ng-click="showPastMsgs()">show</button> -->
